<div class="filter-container">
  <div class="character-select">
    <div class="select-display" (click)="toggleDropdown()">
      {{ selectedCharacter || "Select character..." }}
    </div>
    <input
      type="text"
      *ngIf="showDropdown"
      [(ngModel)]="filterText"
      (keyup)="filterCharacters()"
      placeholder="Search by name..."
      class="search-input"
    >
    <ul *ngIf="showDropdown" class="filtered-results">
      <li *ngFor="let characterName of filteredCharacterNames" (click)="selectCharacter(characterName)">
        {{ characterName }}
      </li>
    </ul>
  </div>
</div>


<main class="character-cards-container">
  <app-card-character
    *ngFor="let character of (filteredCharacters.length > 0 ? filteredCharacters : charactersState.characters); let i = index"
    [character]="character"
    [index]="i"
    (click)="goToCharacterDetail(character)">
  </app-card-character>
  <app-loading *ngIf="loading"></app-loading>
  <app-error-toast *ngIf="error" [errorCode]="errorCode" [errorMessage]="errorMessage"></app-error-toast>
</main>
